<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        
        <RollingFile name="file" fileName="./egov/logs/egovLogfile.log" filePattern="./egov/logs/egovLogfile.log.%d{yyyy-MM-dd}"> <!-- 로컬환경 -->
<!--         <RollingFile name="file" fileName="./logs/sjcusfs2021.log" filePattern="./logs/sjcusfs2021.log.%d{yyyy-MM-dd}"> 실서버 환경 -->  
            <PatternLayout pattern="%d %5p [%c] %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
          <!--  SQL 쿼리 문장 -->
         
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
             
        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Logger name="jdbc.sqlonly" level="ERROR" additivity="false"> 
            <AppenderRef ref="console" /> 
        </Logger>
        
         <Logger name="jdbc.audit" level="WARN" additivity="false">
             <appender-ref ref="console"/>
         </Logger>
        
         <Logger name="jdbc.resultset" level="WARN" additivity="false">
             <appender-ref ref="console"/>
         </Logger>         
 
        <Logger name="jdbc.resultSettable" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        
         <!--  SQL 쿼리 문장 -->
        
         <Root level="INFO">	<!-- 변경 -->
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>
